body{
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    padding: 0;
    
}

nav ul li{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    list-style-type: none;
    display: block;
    float: right;
    padding: 10px 30px;
    
}

.menu ul li a{
    text-decoration: none;
}
.menu{
    color: blue;
    margin-right: 4%;
    padding-bottom: 50px;
}

.clear-both{
    clear: both;
}

.top-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

h1{
    font-size: 80px;
    font-weight:500;
}

h2{
    font-size: 48px;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #6C6C6C;
    
}

.half-width p{
    padding-bottom: 50px;
}

.half-width{
    width: 40%;
    float: left;
    margin-left:5%;
    padding-left:2%;
}

.half-width img{
    width: 100%;
}

.orange{
    color: #FF8367;
}

.blue{
    color: #4f47cf;
}

.margin-top-80{
    margin-top: -80px;
}


section{
    height: 500px;
    padding-bottom: 200px;
}


.link-button{
    background-image: linear-gradient(#FF8063, #F46060);
    padding: 10px 30px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    
}


.one-third-width{
    width: 24%;
    float: left;
    margin-left: 5%;
    padding-left:2%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 19px;
    padding: 20px 20px;
    height: 80%;
}

.one-third-width img{
    width: 100%;
    
}

.one-third-width p{
    text-align: justify;
    
}

.working-project{
    background-color: #F8F9FC;
    padding-bottom: 300px;
}

.working-project h2{
    text-align: center;
    padding-top: 100px;

}


span{
    color: #4f47cf;
}

.one-third-width h3{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #363958;
}

.div-1{
    width: 20%;
    float: left;
    padding-top: 225px;
}

.div-center{
    width: 60%;
    float: left;
    height: 225px;
    padding-top: 100px;
}


.image-button{
    background-image: url(images/button-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 225px;
}



.image-button h3{
    color: #ffffff;
    font-size: 64px;
    float: left;
    padding-left: 70px;
    padding-top: 10px;

}


.chat{
    float: right;
    padding: 100px 100px;
}

.chat .link-button{
    padding: 20px 30px;
}

.education{
    background-image: url(images/dream-bg-2.png);
    background-repeat: no-repeat;
    background-position: left;
    text-align: center;
    height: 220px;
}

.one-third-width-education{
    font-family: 'Roboto', sans-serif;
    width: 24%;
    float: left;
    margin-left: 5%;
    padding-left:2%;
    background-color: #f0f0f0;
    box-shadow: 10px 10px 10px #fefefe;
    border-radius: 19px;
    padding: 20px 20px;
    
}

.one-third-width-education h3{
    font-size: 25px;
    color: #4f47cf;
}

.education-place{
    font-size: 15px;
    color: tomato;
    font-weight: 500;
}

footer{
    margin-top: -50px;
    text-align: center;
    font-size: 12px;
}

.img-background{
    padding-bottom: 10px;
}





